[Unit]
Description=Calibre Server
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/calibre-server --log /mnt/bruh/books/lmao.txt --enable-auth --ssl-certfile /mnt/bruh/books/key.pem --ssl-keyfile /mnt/bruh/books/key.key --port 2096 "/mnt/bruh/books/Calibre Library"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target