[Unit]
Description=Flexget Daemon
After=network.target

[Service]
Type=simple
User=root
UMask=000
WorkingDirectory=/etc/flexget
ExecStart=/usr/local/bin/flexget daemon start
ExecStop=/usr/local/bin/flexget daemon stop
ExecReload=/usr/local/bin/flexget daemon reload

[Install]
WantedBy=multi-user.target