[Unit]
Description=Flexget Git Upload
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/etc/flexget
Type=simple
ExecStart=/bin/flexgit -key=""
