name: Build

on:
  push:
    paths:
      - "linux.bash"
      - "server.bash"
      - "mac.bash"
      - "!sh"
      - "!mac"
  workflow_dispatch:

jobs:
  buildl:
    name: Build for Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install shc
        run: |
          sudo apt install -y shc
      - name: Pre-Cleanup
        run: |
          rm sh
          rm server
      - name: Build
        run: |
          shc -rvf linux.bash -o sh
          shc -rvf server.bash -o server
      - name: Post-Cleanup
        run: |
          rm linux.bash.x.c
          rm server.bash.x.c
      - name: set up git
        run: |
          git config --local user.email "joshua@joseos.com"
          git config --local user.name "joshybot "
      - name: Commit
        run: |
          git add .
          git commit -m "" -a | exit 0
          git push origin main
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
  buildm:
    needs: buildl
    name: Build for MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: install shc
        run: |
          brew install shc
      - name: Pre-Cleanup
        run: |
          rm mac
      - name: Build
        run: |
          shc -rvf mac.bash -o mac
      - name: Post-Cleanup
        run: |
          rm mac.bash.x.c
      - name: set up git
        run: |
          git config --local user.email "joshua@joseos.com"
          git config --local user.name "joshybot "
      - name: increment version
        run: |
          TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          TAGY="${TAG:5:2}
          TAGX=$(($TAGY+1))
          TAGA="${TAG:0:5}"
          TAGF="$TAGA$TAGX"
      - name: Commit
        run: |
          git add .
          git commit -m ""
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true
  release:
    needs: [buildl, buildm]
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            mac
            sh
            server
